body h1 {
  color: #2ef8f8;
  background-color: #b86d30;
  border: 4px solid black;
  font-style: italic;
}

.menu-item {
  height: 100px;
  padding: 0 40px;
  margin: 50px 10px;
  user-select: none;
  cursor: pointer;
  border: 5px blue solid;
}

.menu-item-wrapper.active {
  border: 1px blue solid;
}

.menu-item.active {
  border: 1px green solid;
}

.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
