.reviews-widget {
  font-family: "Open Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  min-width: 900px;
  width: 80%;
}

.reviews-widget h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.12em;
  margin-bottom: 0.5em;
}

.reviews-container {
  display: flex;
}

.reviews-container aside {
  flex: 0 1 auto;
}

.reviews-container main {
  flex: 0 1 80%;
  padding-left: 60px;
}
