.star-container {
  color: #555;
  display: inline-block;
  font-size: 1.2em;
  position: relative;
}

.stars-filled {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}