.char-scale {
  display: flex;
  flex-flow: column nowrap;
}

.scale {
  display: flex;
  justify-content: space-between;
}

.scale-bar {
  background-color: #bfbdbd;
  flex: 0 1 24.5%;
  height: 8px;
  // width: 24%;
}

.pointer {
  position: absolute;
  left: 50%;
}
