.review-bar {
  display: flex;
  padding: 5px;
}

.review-bar:hover {
  cursor: pointer;
}

.star-bar-filled {
  background-color: #467c46;
  border-radius: 9999px;
  height: 100%;
}

.star-bar {
  align-self: center;
  background-color: #bfbdbd;
  border-radius: 9999px;
  flex-grow: 1;
  margin-left: 5px;
  height:12px;
}

.review-bar span {
  text-decoration: underline;
}
