.QnAsComp {
  margin-left: 10%;
  margin-right: 10%;
}

.QAItemArr {
  // height: 100%;
  max-height: 100vh;
  overflow: auto;
  // overflow-x: hidden;
  // overflow-y: auto;
}
.seller {
  font-weight: bold
}

.addAnswer {
  background: none;
  border: none;
  text-decoration: underline;
  font-family: "Times New Roman";
  font-size: 16px;
  padding: 0px;
  display: inline;
}
.reportAnswer {
  background: none;
  border: none;
  text-decoration: underline;
  font-family: "Times New Roman";
  font-size: 16px;
  padding: 0px;
  display: inline;
}
.reported {
  padding: 0px;
  display: inline;
}

.addAnswer:hover {
  color: blue;
}
.reportAnswer:hover {
  color: blue;
}

.QnABtn {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
  margin: 10px;
  padding: 18px;
  transition-duration: 0.4s;
}

.QnABtn:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.questionHR {
  float: right;
  top: 0px;
  right: 10px;
  position: absolute;
}

.HRComp {
  position: relative;
  max-height: 50vh;
  overflow: auto;
}

.searchBar {
  border: 2px solid rgb(0, 0, 0);
}

input[type=text]{
  width: 100%;
  height: 40px;
}
